// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'bootstrap';

.myblock {
  height: 230px;
}
/*
.flash-container {
  position: absolute;
  width: 100%;
}
.alert-notice, .alert-alert {
  text-align: center;
  background: rgba(255, 255, 255, 0.3);
  border-color: rgba(255, 255, 255, 0.5);
  margin-top: -14px;
}
*/
